<div class='page-header'>
  <h1 class='text-center'>
    FLaWeD
    <br/>
    <small>Keep your FLaWs in check!</small>
  </h1>
</div>

<button id='sign_in' class='fb-login-button btn btn-primary'>Login With Facebook</button>
